*{
  margin: 0px auto;
  padding: 0px;
}
#square {
  width: 140px;
  height: 140px;
  background: blue;
  margin-bottom: 10px;
}
#circle{
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background-color: red;
  margin-bottom: 10px;
}
#triangle{
  width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid pink;
  margin-bottom: 10px;
}
#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid red;
  border-left: 60px solid red;
  border-bottom: 60px solid red;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
